---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Motobroker.it — Vendi la tua moto" description="Intermediazione vendita moto usate tra privati: sicura, veloce e senza stress.">
  <h1 class="titolo-sezione contenitore">Vendi la tua moto!</h1>
</Layout>
